.DS_Store
ayudantias/
bibliography/
expositions/
practices/

# ASSIGNMENTS
assignment1/pages
assignment1/stenographies
assignment1/cleaned_stenographies
assignment1/final_corpus

assignment2/data/
assignment3/data/

assignment4/final_corpus
assignment4/corpus_setences.txt
assignment4/processed_corpus.txt

assignment5/data/
assignment5/model_char/
assignment5/model_with_embeddings/
assignment5/model_without_embeddings/

assignment6/word2vec_col.txt
assignment6/es_train
assignment6/es_val
assignment6/trained_model

# TESTS
tests/test1/data/
tests/test2/data/
tests/test2/trained_model/

# PROJECT
project/ISSUES/assets/
project/ISSUES/logs/
project/ISSUES/pruebas/
project/ISSUES/resources/
project/ISSUES/src/
project/ISSUES/wandb/
project/ISSUES/requirements.txt
project/ISSUES/README.md
project/ISSUES/run_harmeme_text-inv-comb.sh
project/ISSUES/run_hmc_text-inv-comb.sh