.DS_Store
ayudantias/
bibliography/
expositions/
practices/

# ASSIGNMENTS
assignments/assignment1/pages
assignments/assignment1/stenographies
assignments/assignment1/cleaned_stenographies
assignments/assignment1/final_corpus

assignments/assignment2/data/
assignments/assignment3/data/

assignments/assignment4/final_corpus
assignments/assignment4/corpus_setences.txt
assignments/assignment4/processed_corpus.txt

assignments/assignment5/data/
assignments/assignment5/model_char/
assignments/assignment5/model_with_embeddings/
assignments/assignment5/model_without_embeddings/

assignments/assignment6/word2vec_col.txt
assignments/assignment6/es_train
assignments/assignment6/es_val
assignments/assignment6/trained_model

# TESTS
tests/test1/data/
tests/test2/data/
tests/test2/trained_model/

# PROJECT
project/ISSUES/assets/
project/ISSUES/logs/
project/ISSUES/pruebas/
project/ISSUES/resources/
project/ISSUES/src/
project/ISSUES/wandb/
project/ISSUES/requirements.txt
project/ISSUES/README.md
project/ISSUES/run_harmeme_text-inv-comb.sh
project/ISSUES/run_hmc_text-inv-comb.sh