.DS_Store
ayudantias/
bibliography/
expositions/

# ASSIGNMENTS
assignments/assignment1/pages
assignments/assignment1/stenographies
assignments/assignment1/cleaned_stenographies
assignments/assignment1/final_corpus

assignments/assignment4/final_corpus
assignments/assignment4/corpus_setences.txt
assignments/assignment4/processed_corpus.txt

assignments/assignment5/word2vec_col.txt
assignments/assignment5/model_char
assignments/assignment5/model_with_embeddings
assignments/assignment5/model_without_embeddings

assignments/assignment6/word2vec_col.txt
assignments/assignment6/es_train
assignments/assignment6/es_val
assignments/assignment6/trained_model

# PRACTICES
practices/practice_agresivity/OriginalAgresividad.ipynb
practices/practice_agresivity/word2vec_col.txt

practices/practice1/cleaned_stenographies
practices/practice1/final_corpus
practices/practice1/pages
practices/practice1/stenographies
practices/practice1/list_comprehension.ipynb
practices/practice1/page_2.txt
practices/practice1/conference_j.txt

practices/practice6_NLM/model
practices/practice6_NLM/best_model.pth
practices/practice6_NLM/word2vec_col.txt
